@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600;700&display=swap');

:root {
  /* Primary Colors */
  --Moderate-cyan: #3cb4ac;
  --Dark-cyan: #147b74;

  /*  Neutral Colors */
  --black: #000;
  --Dark-gray: #7a7a7a;

  /* Fonts */
  --base-font: 16px;
  --font-fam: 'Commissioner', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-fam);
}

a {
  text-decoration: none;
}
body {
  background-color: #dfdfdf;
}

::-webkit-scrollbar {
  appearance: none;
  width: 1px;
}
